{% from "macro/task.html" import task_macro %}

{% macro category(category, id, collection_id) %}
    <div class="accordion-item">
        <h2 class="accordion-header">

            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#catcollapse-{{ id }}-{{ collection_id }}" aria-expanded="true" aria-controls="catcollapse-{{ id }}-{{ collection_id }}">
                {{ category.name }}
            </button>
        </h2>
        <div class="accordion-collapse collapse show" id="catcollapse-{{ id }}-{{ collection_id }}">
            <div class="accordion-body">
                <div class="row">
                    {% for task_data in category.tasks %}
                        {{ task_macro(task_data) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
